<p id="notice"><%= notice %></p>

<p>
  <strong>Phone number:</strong>
  <%= @phone.phone_number %>
</p>

<p>
  <strong>Id contact:</strong>
  <%= @phone.id_contact %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
